
  <label class="label">Name:</label>
  <p><%= @user.name %></p>

  <label class="label">E-mail:</label>
  <p><%= @user.email %></p>

<%= link_to "Edit", edit_user_path(@user), :class => 'btn primary' %>
<%= link_to "Back", users_path, :class => 'btn' %>
